on:
  push:
    tags:
      - 'v*'

name: Create Release

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '^1.23.1' # The Go version to download (if necessary) and use.
      - name: Install cross-compile tools
        run: |
          # sudo dpkg --add-architecture arm64
          # sudo dpkg --add-architecture armhf
          sudo apt update
          sudo apt install -y binutils-aarch64-linux-gnu binutils-arm-linux-gnueabihf crossbuild-essential-arm64 crossbuild-essential-armhf
          sudo apt install -y gcc-14-aarch64-linux-gnu gcc-14-arm-linux-gnueabihf g++-14-aarch64-linux-gnu g++-14-arm-linux-gnueabihf
          # sudo apt install -y libudev-dev:arm64 libusb-dev:arm64 libc6-dev:arm64 pkg-config:arm64
          # sudo apt install -y libudev-dev:armhf libusb-dev:armhf libc6-dev:armhf pkg-config:armhf

      - name: Build
        run: |
          export PATH=${PATH}:`go env GOPATH`/bin
          v=${GITHUB_REF#refs/*/} ./release.sh
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: release/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
